header {
    background-color: #222A0A;
    padding: 20px 0;
}

/*---------Menu de navegação----------*/
.menu {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-transform: uppercase;
    color: #ffff;
    text-decoration: none;
    font-family: Young Heart;
    font-size: 55px;
}

nav a:hover {
    text-decoration:underline;
}

/*---------Conteúdo Produtos----------*/
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border:solid 1px #839d34;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #222A0A;
}

.produtos li:hover h2 {
    font-size: 40px;
}

.produtos h2 {
    font-family: Young Heart;
    font-size: 35px;
    color: #222A0A;
}

.produto-descricao {
    font-family: kaufmann BT;
    font-size: 30px;
    color: #222A0A;
}

.produto-preco {
    font-family: Young Heart;
    font-size: 30px;
    color: #222A0A;
    margin: 10px 0 0;
}

/*---------Conteúdo rodapé----------*/
footer {
    text-align: center;
    background-color: #222A0A;
    padding: 40px 0 ;
}

.copyright {
    color: #ffff;
    font-size: 13px;
    margin-top: 20px;
}


